body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Andika", sans-serif;
}
div {
  background: red;
  padding: 5px;
  margin: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
button:active {
  border: 1px solid lightgray !important;
}
